html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
img {
    display: block;
}
:root {
    --accent-color: #263238;
    --text-color: #8F95A5;
}
a:hover {
    opacity: 0.6;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
    background-color: var(--text-color);
    transition: 0.5s all;
}
.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 112px;
}
.navbar {
    padding: 54px 0 51px 0;
}
.navbar__flex {
    display: flex;
}
.logo {
    max-height: 54px;
    margin-right: 253px;
    margin-left: 17px;
}
.navbar__flex_menu {
    display: flex;
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0 243px 0 0;
    white-space: nowrap;
}
.navbar_menu-item:nth-child(1) {
    margin-right: 37px;
}
.navbar_menu-item:nth-child(2) {
    margin-right: 31px;
}
.navbar_menu-item:nth-child(3) {
    margin-right: 57px;
}
.navbar_menu-item:nth-child(4) {
    margin-right: 31px;
}
.navbar__flex_menu a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;
}
.navbar-btn {
    width: 220px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    color: #000;
    font-size: 24px;
    font-weight: 400;
    padding: 17px 57px 17px 55px;
    background-color: #fff;
    white-space: nowrap;
    letter-spacing: 1.3px;
}
.sidenav-trigger {
    display: none;
}
.header {
    padding: 1px 0 53px 0;
}
.header__flex {
    display: flex;
}
.header__flex_text {
    padding-top: 50px;
    margin: 0 139px 0 15px;
}
.header__flex_text-h1 {
    display: flex;
}
.header-h1 {
    color: #000;
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    width: 386px;
    margin: 0 38px 40px 0;
}
.header-br-2 {
    display: none;
}
.header-icon {
    padding-top: 23px;
}
.header-p {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    max-width: 550px;
    margin: 0 0 64px 0;
}
.header-btn {
    width: 440px;
    height: 118px;
    border-radius: 15px;
    background: var(--accent-color);
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    padding: 32px 118px;
    white-space: nowrap;
    letter-spacing: 2.5px;
}
.skills {
    padding: 50px 0 152px 0;
}
.skills-h2 {
    color: #000;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    margin: 0 0 97px 0;
    text-align: center;
}
.skills__grid {
    display: grid;
    grid-template-areas: 
    "speaking writing reading"
    "speaking listening listening";
}
.speaking {
    grid-area: speaking;
    width: 435px;
    height: 894px;
    margin: 0 7px 0 18px;
}
.speaking-img {
    max-width: 390px;
    max-height: 390px;
    margin: 33px 0 30px 22px;
}
.writing {
    grid-area: writing;
    width: 434px;
    height: 532px;
    margin: 0 0px 20px 0;
    position: relative;
}
.writing-img {
    max-width: 293px;
    max-height: 293px;
    margin-left: 122px;
    position: absolute;
    right: 22px;
    bottom: 245px;
}
.reading {
    grid-area: reading;
    width: 435px;
    height: 532px;
    margin-bottom: 20px;
}
.reading-img {
    max-width: 371px;
    max-height: 247px;
    margin: 7px 65px 24px 0;
}
.listening {
    grid-area: listening;
    display: flex;
    flex-direction: row;
    width: 885px;
    height: 343px;
}
.listening-img {
    max-width: 382px;
    max-height: 255px;
    margin: 43px 23px 0 0;
    order: 1;
}
.skills__grid-item {
    border-radius: 10px;
    background: #F5F5F5;
}
.speaking .skills__grid_content {
    max-width: 341px;
    margin-left: 41px;
}
.writing .skills__grid_content {
    margin-top: 274px;
    max-width: 341px;
    margin-left: 40px;
}
.reading .skills__grid_content {
    max-width: 370px;
    margin-left: 40px;
}
.listening .skills__grid_content {
    max-width: 341px;
    margin: 67px 89px 0 45px;
}
.skills-h3 {
    color: var(--accent-color);
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 14px 0;
}
.speaking .skills-h3 {
    margin: 0 0 27px 0;
}
.reading .skills-h3 {
    margin: 0 0 9px 0;
}
.skills-p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 33px 0;
}
.speaking .skills-p {
    margin: 0 0 37px 0;
}
.listening .skills-p {
    margin: 0 0 28px 0;
}
.skills-btn {
    width: 218px;
    height: 60px;
    background: var(--accent-color);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 52px;
    white-space: nowrap;
}
.speaking .skills-btn {
    width: 230px;
    font-size: 18px;
    padding: 17px 62px;
}
.listening .skills-btn {
    padding: 15px 53px 15px 45px;
}
.about_us {
    padding: 100px 0 88px 0;
}
.about_us__flex {
    display: flex;
    padding-left: 19px;
}
.about_us__flex_content {
    margin-right: 194px;
    padding-top: 30px;
}
.about_us-h2 {
    color: #000;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    margin: 0 0 23px 0;
}
.about_us-p {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 37px 0;
    max-width: 635px;
}
.about_us__flex-items {
    display: flex;
    max-width: 635px;
}
.about_us__flex-item {
    margin-right: 143px;
    text-align: center;
}
.about_us__flex-item:nth-child(2) {
    margin-right: 96px;
}
.about_us__flex-item:last-child {
    margin-right: 0;
}
.about_us-h3 {
    color: #2A3246;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    margin: 0;
}
.about_us__flex-item:nth-child(3) .about_us-h3 {
    line-height: 78px;
    margin-right: 20px;
}
.about_us-item-p {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    white-space: nowrap;
}
.about_us-img {
    width: 500px;
    height: 500px;
}
.pricing {
    padding: 100px 0 161px 0;
}
.pricing-h2 {
    color: #000;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    margin: 0 0 57px 0;
    text-align: center;
}
.pricing__flex {
    display: flex;
}
.pricing__flex-item {
    max-width: 418px;
    margin-right: 60px;
}
.pricing__flex-item:nth-child(1) {
    margin-left: 18px;
}
.pricing__flex-item:last-child {
    margin-right: 0;
    max-width: 425px;
}
.pricing__flex-item:nth-child(2) {
    margin-top: 26px;
    margin-right: 8px;
}
.pricing-img {
    margin-bottom: 40px;
    padding-left: 25px;
}
.pricing__flex-item:nth-child(2) .pricing-img {
    margin-bottom: 42px;
    padding: 0;
}
.pricing__flex-item:nth-child(3) .pricing-img {
    margin-bottom: 10px;
    padding-left: 50px;
}
.pricing-h3 {
    color: var(--accent-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    margin: 0 0 19px 0;
}
.pricing-p {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 29px 0;
}
.pricing__flex-item:nth-child(2) .pricing-p {
    margin-bottom: 63px;
}
.pricing__flex-item:nth-child(3) .pricing-p {
    margin-bottom: 58px;
}
.pricing-btn {
    width: 240px;
    height: 45px;
    border-radius: 5px;
    background-color: #EEE;
    border: none;
    display: flex;
    padding: 0 24px 0 26px;
}
.pricing__flex-item:nth-child(2) .pricing-btn {
    padding: 0 20px 0 20px;
}
.pricing__flex-item:nth-child(3) .pricing-btn {
    padding: 0 20px 0 17px;
}
.btn-price {
    color: var(--accent-color);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: normal;
    margin-right: 13px;
}
.pricing__flex-item:nth-child(2) .btn-price {
    margin-right: 10px;
}
.pricing__flex-item:nth-child(3) .btn-price {
    margin-right: 7px;
}
.btn-term {
    color: #546269;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: normal;
    padding: 6px 0 12px 0;
    white-space: nowrap;
}
.contact_us {
    padding: 95px 0 100px 0;
}
.contact_us__flex {
    display: flex;
}
.contact_us-img {
    max-width: 477px;
    max-height: 429px;
    margin-right: 111px;
}
.contact_us-h2 {
    color: #000;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    margin: 33px 0 37px 0;
}
.contact_us-p {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 50px 0;
    max-width: 776px;
}
.contact_us_form {
    display: flex;
}
.contact_us_form-mail {
    width: 450px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-left: 33px;
    margin-right: 15px;
}
.contact_us-btn {
    width: 264px;
    height: 80px;
    border-radius: 10px;
    background: var(--accent-color);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding-left: 0;
}
.footer {
    padding: 33px 0 58px 0;
}
.footer_line {
    width: 1338px;
    height: 1px;
    background-color: #C4C4C4;
    margin: 0 auto;
}
.footer__flex {
    display: flex;
}
.footer_logo {
    max-height: 54px;
    padding-left: 19px;
    margin-right: 607px;
    margin-top: 31px;
}
.footer_menu {
    list-style: none;
    display: flex;
    margin-top: 55px;
    padding: 0;
}
.footer_menu a {
    text-decoration: none;
    color: var(--text-color);
}
.footer_menu-item {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width: 1500px) {
    .container {
        padding: 0 50px;
    }
    .navbar__flex {
        justify-content: center;
    }
    .navbar__flex_menu {
        margin: 0 100px 0 0;
    }
    .header__flex {
        justify-content: center;
    }
    .header__flex_text {
        margin: 0 80px 0 15px;
    }
    .skills {
        padding: 0;
    }
    .skills__grid {
        justify-content: center;
        gap: 30px;
    }
    .skills-h2 {
        font-size: 36px;
        margin: 0 0 50px 0;
    }
    .speaking {
        width: 303px;
        height: 712px;
        margin: 0;
    }
    .speaking-img {
        margin: 0 0 26px 0;
    }
    .sp-img {
        width: 260px;
        height: 260px;
        margin-left: 21px;
    }
    .writing {
        width: 302px;
        height: 441px;
        margin: 0;
    }
    .writing-img {
        width: 205px;
        height: 205px;
        margin: 0;
        right: 7px;
        bottom: 230px;
    }
    .wr-img {
        width: 205px;
        height: 205px;
    }
    .reading {
        width: 304px;
        height: 442px;
        margin: 0;
    }
    .reading-img {
        width: 243px;
        height: 162px;
        margin: 15px 0 32px 4px;
    }
    .re-img {
        width: 243px;
        height: 162px;
    }
    .listening {
        width: 640px;
        height: 241px;
    }
    .listening-img {
        width: 254px;
        height: 169px;
        margin: 30px 15px 0 0;
    }
    .li-img {
        width: 254px;
        height: 169px;
    }
    .speaking .skills__grid_content {
        width: 221px;
        margin-left: 28px;
    }
    .writing .skills__grid_content {
        margin-top: 209px;
        width: 250px;
        margin-left: 33px;
    }
    .reading .skills__grid_content {
        width: 249px;
        margin-left: 28px;
    }
    .listening .skills__grid_content {
        max-width: 290px;
        margin: 28px 23px 0 34px;
    }
    .skills-h3 {
        font-size: 22px;
        margin: 0 0 14px 0;
    }
    .speaking .skills-h3 {
        margin: 0 0 21px 0;
    }
    .reading .skills-h3 {
        margin: 0 0 12px 0;
    }
    .skills-p {
        font-size: 14px;
        margin: 0 0 22px 0;
    }
    .speaking .skills-p {
        margin: 0 0 24px 0;
    }
    .listening .skills-p {
        margin: 0 0 18px 0;
    }
    .skills-btn {
        width: 196px;
        height: 57px;
        font-size: 18px;
        padding: 19px 41px 19px 33px;
    }
    .speaking .skills-btn {
        width: 196px;
        height: 57px;
        font-size: 18px;
        padding: 19px 33px 19px 22px;
    }
    .listening .skills-btn {
        width: 196px;
        height: 57px;
        padding: 19px 41px 19px 33px;
    }
    .about_us__flex {
        justify-content: center;
    }
    .about_us__flex_content {
        margin-right: 100px;
    }
    .pricing {
        padding: 36px 0 100px 0;
    }
    .pricing-h2 {
        font-size: 36px;
        margin: 0 0 10px 0;
    }
    .pricing__flex {
        justify-content: space-evenly;
    }
    .pricing__flex-item {
        max-width: 302px;
        margin-right: 17px;
    }
    .pricing__flex-item:nth-child(1) {
        margin-left: 18px;
    }
    .pricing__flex-item:last-child {
        margin-right: 0;
        max-width: 280px;
    }
    .pricing__flex-item:nth-child(2) {
        max-width: 275px;
        margin-top: 28px;
        margin-right: 62px;
    }
    .pricing-img {
        width: 222px;
        height: 222px;
        margin: 10px 0 15px 15px;
        padding: 0;
    }
    .pricing__flex-item:nth-child(2) .pricing-img {
        width: 267px;
        height: 195px;
        margin: 9px 0 16px 0;
        padding: 0;
    }
    .pricing__flex-item:nth-child(3) .pricing-img {
        width: 242px;
        height: 242px;
        margin: 0 0 5px 0;
        padding: 0;
    }
    .pricing-h3 {
        font-size: 22px;
        margin: 0 0 5px 0;
    }
    .pricing__flex-item:nth-child(2) .pricing-h3 {
        margin-left: 17px;
    }
    .pricing__flex-item:nth-child(3) .pricing-h3 {
        margin: 0 0 0 16px;
    }
    .pricing-p {
        font-size: 16px;
    }
    .pricing__flex-item:nth-child(2) .pricing-p {
        margin-left: 17px;
        margin-bottom: 52px;
    }
    .pricing__flex-item:nth-child(3) .pricing-p {
        margin: 0 0 31px 16px;
    }
    .pricing-btn {
        width: 205px;
        padding: 3px 24px 0 20px;
    }
    .pricing__flex-item:nth-child(2) .pricing-btn {
        margin-left: 17px;
        padding: 4px 20px 0 20px;
    }
    .pricing__flex-item:nth-child(3) .pricing-btn {
        margin-left: 16px;
        padding: 4px 19px;
    }
    .btn-price {
        font-size: 24px;
    }
    .pricing__flex-item:nth-child(3) .btn-price {
        margin-right: 11px;
    }
    .btn-term {
        font-size: 16px;
    }
    .contact_us-img {
        width: 400px;
        height: 360px;
    }
    .contact_us__flex {
        justify-content: center;
    }
    .contact_us_form {
        flex-wrap: wrap;
    }
    .contact_us_form-mail {
        margin-bottom: 20px;
    }
    .footer_line {
        width: 100%;
        margin: 0 auto;
    }
    .footer__flex {
        justify-content: space-between;
    }
    .footer_logo {
        margin-right: 0;
    }
    .footer_menu {
        margin: 38px 0 30px 0;
        padding: 0;
    }
}
@media screen and (max-width: 1270px) {
    .container {
        padding: 0 13px 0 100px;
    }
    .navbar {
        padding: 25px 0 21px 0;
    }
    .navbar__flex {
        justify-content: flex-start;
    }
    .logo {
        max-width: 89px;
        max-height: 45px;
        margin-right: 167px;
        margin-top: 5px;
    }
    .navbar__flex_menu {
        padding: 22px 0 0 0;
        margin: 0 100px 0 0;
    }
    .navbar_menu-item:nth-child(1) {
        margin-right: 30px;
    }
    .navbar_menu-item:nth-child(2) {
        margin-right: 26px;
    }
    .navbar_menu-item:nth-child(3) {
        margin-right: 45px;
    }
    .navbar_menu-item:nth-child(4) {
        margin-right: 25px;
    }
    .navbar__flex_menu a {
        font-size: 16px;
    }
    .navbar-btn {
        width: 160px;
        height: 50px;
        font-size: 18px;
        padding: 15px 39px;
    }
    .header {
        padding-bottom: 50px;
    }
    .header__flex {
        justify-content: flex-start;
    }
    .header__flex_text {
        width: 440px;
        padding-top: 60px;
        margin: 0 43px 0 15px;
    }
    .header-h1 {
        font-size: 48px;
        line-height: 64px;
        width: 300px;
        margin: 0 0 27px 0;
    }
    .header-icon {
        width: 90px;
        height: 90px;
        padding: 0;
        margin-top: 86px;
    }
    .header-p {
        font-size: 20px;
        width: 422px;
        margin: 0 0 33px 5px;
    }
    .header-btn {
        width: 292px;
        height: 80px;
        border-radius: 5px;
        font-size: 24px;
        padding: 24px 78px;
        letter-spacing: 1.5px;
    }
    .header-img {
        width: 460px;
        height: 460px;
        margin-top: 46px;
    }
    .skills__grid {
        gap: 0;
        justify-content: flex-start;
    }
    .speaking {
        height: 696px;
        margin: 0 8px 0 20px;
    }
    .writing {
        margin: 0 15px 15px 0;
    }
    .reading {
        margin-bottom: 15px;
    }
    .listening {
        width: 616px;
    }
    .about_us {
        padding: 75px 0 88px 0;
    }
    .about_us__flex {
        justify-content: flex-start;
    }
    .about_us__flex_content {
        margin-right: 70px;
    }
    .about_us-h2 {
        font-size: 36px;
        margin: 0 0 10px 0;
    }
    .about_us-p {
        font-size: 16px;
        margin: 0 0 4px 0;
        max-width: 505px;
    }
    .about_us__flex-items {
       margin-left: 7px;
    }
    .about_us__flex-item {
        margin-right: 61px;
        margin-top: 13px; 
    }
    .about_us__flex-item:nth-child(2) {
        margin-right: 57px;
        margin-top: 10px;
    }
    .about_us__flex-item:nth-child(3) {
        margin-top: 9px;
    }
    .about_us-h3 {
        font-size: 30px;
        line-height: 60px;
    }
    .about_us__flex-item:nth-child(3) .about_us-h3 {
        line-height: 62px;
        margin-right: 0px;
        padding-right: 18px;
    }
    .about_us-item-p {
        font-size: 16px;
    }
    .about_us-img {
        width: 336px;
        height: 336px;
    }
    .pricing__flex {
        justify-content: flex-start;
    }
    .contact_us__flex {
        justify-content: flex-start;
    }
    .contact_us {
        padding: 35px 0 100px 0;
    }
    .contact_us-img {
        width: 312px;
        height: 281px;
        margin: 5px 111px 0 0;
    }
    .contact_us-h2 {
        font-size: 36px;
        margin: 0 0 2px 12px;
    }
    .contact_us-p {
        font-size: 16px;
        margin: 0 0 31px 0;
        width: 450px;
    }
    .contact_us_form-mail {
        width: 323px;
        height: 60px;
        font-size: 14px;
        padding-top: 3px;
        padding-left: 35px;
        margin-right: 14px;
        margin-bottom: 0;
    }
    .contact_us-btn {
        width: 193px;
        height: 60px;
        font-size: 16px;
        padding: 20px 52px 20px 49px;
    }
    .footer {
        padding: 56px 0 0 0;
    }
    .footer_line {
        width: calc(100% - 37px);
    }
    .footer__flex {
        justify-content: flex-start;
    }
    .footer_logo {
        max-width: 89px;
        max-height: 45px;
        padding: 0;
        margin: 23px 422px 0 19px;
    }
    .footer_menu-item {
        font-size: 16px;
    }
}
@media screen and (max-width: 1075px) {
    .container {
        padding: 0 13px 0 27px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        padding: 0 13px;
    }
}
@media screen and (max-width: 991px) {
    .container {
        padding: 0 13px 0 70px;
    }
    .logo {
        margin-right: 40px;
    }
    .navbar__flex_menu {
        margin-right: 40px;
    }
    .header {
        padding-bottom: 55px;
    }
    .header__flex_text {
        width: 337px;
        padding-top: 48px;
        margin: 0 24px 0 26px;
    }
    .header-h1 {
        font-size: 36px;
        line-height: 45px;
        width: 300px;
        margin: 0 0 24px 0;
    }
    .header-icon {
        width: 70px;
        height: 70px;
        padding: 0;
        margin: 68px 48px 0 0;
    }
    .header-p {
        font-size: 16px;
        width: 337px;
        margin: 0 0 30px 0;
    }
    .header-btn {
        width: 236px;
        height: 65px;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 19px 67px;
    }
    .header-img {
        width: 352px;
        height: 352px;
        margin-top: 20px;
    }
    .skills-h2 {
        font-size: 30px;
        margin: 0 0 35px 0;
    }
    .speaking {
        width: 224px;
        height: 662px;
        margin: 0 10px 0 27px;
    }
    .speaking-img {
        margin-bottom: 30px;
    }
    .sp-img {
        width: 214px;
        height: 214px;
        margin: 32px 0 0 0;
    }
    .writing {
        width: 227px;
        height: 441px;
        margin: 0 10px 15px 0;
    }
    .writing-img {
        right: 20px;
        bottom: 220px;
    }
    .wr-img {
        width: 200px;
        height: 200px;
    }
    .reading {
        width: 228px;
        height: 442px;
        margin-bottom: 15px;
    }
    .reading-img {
        width: 216px;
        height: 144px;
        margin: 35px 14px 28px 0;
    }
    .re-img {
        width: 216px;
        height: 144px;
    }
    .listening {
        width: 462px;
        height: 210px;
        margin-left: 0;
        position: relative;
    }
    .listening-img {
        margin: 56px;
    }
    .li-img {
        width: 202px;
        height: 134px;
    }
    .speaking .skills__grid_content {
        width: 188px;
        margin-left: 16px;
    }
    .writing .skills__grid_content {
        margin-top: 213px;
        width: 188px;
        margin-left: 16px;
    }
    .reading .skills__grid_content {
        width: 188px;
        margin-left: 16px;
    }
    .listening .skills__grid_content {
        max-width: 250px;
        margin: 22px 0px 0 22px;
    }
    .skills-h3 {
        font-size: 20px;
        margin: 0 0 14px 0;
    }
    .speaking .skills-h3 {
        margin: 0 0 20px 0;
    }
    .reading .skills-h3 {
        margin: 0 0 15px 0;
    }
    .skills-p {
        font-size: 13px;
        margin: 0 0 20px 0;
    }
    .speaking .skills-p {
        margin: 0 0 25px 0;
    }
    .reading .skills-p {
        margin: 0 0 25px 0;
    }
    .listening .skills-p {
        position: absolute;
        width: 266px;
        margin: 0 0 18px 0;
    }
    .skills-btn {
        width: 178px;
        height: 50px;
        font-size: 16px;
        padding: 16px 43px 14px 40px;
    }
    .speaking .skills-btn {
        width: 178px;
        height: 50px;
        font-size: 16px;
        padding: 14px 43px;
    }
    .reading .skills-btn {
        padding: 16px 43px 14px 45px;
    }
    .listening .skills-btn {
        width: 178px;
        height: 50px;
        padding: 16px 43px 14px 38px;
        margin-top: 74px;
    }
    .about_us {
        padding: 20px 0 50px 0;
    }
    .about_us__flex {
        padding-left: 27px;
    }
    .about_us-h2 {
        font-size: 30px;
        line-height: 78px;
        margin: 0;
    }
    .about_us-p {
        font-size: 14px;
        margin: 0 0 4px 0;
        max-width: 321px;
    }
    .about_us-h3 {
        font-size: 22px;
    }
    .about_us-item-p {
        font-size: 13px;
    }
    .about_us__flex-items {
        margin-left: 0px;
     }
    .about_us__flex-item {
        margin-right: 53px;
        margin-top: 10px; 
    }
    .about_us__flex-item:nth-child(1) .about_us-h3 {
        margin-left: 7px;
    }
    .about_us__flex-item:nth-child(2) {
        margin-right: 45px;
    }
    .about_us__flex-item:nth-child(3) .about_us-h3 {
        line-height: 59px;
        padding-right: 13px;
    }
    .about_us-img {
        width: 295px;
        height: 295px;
        margin-top: 64px;
    } 
    .pricing {
        padding: 35px 0 30px 0;
    }
    .pricing-h2 {
        font-size: 30px;
        margin: 0 0 18px 0;
    }
    .pricing__flex-item:nth-child(1) {
        width: 247px;
        margin-left: 13px;
        margin-right: 0px;
    }
    .pricing__flex-item:nth-child(2) {
        margin-right: 0px;
        width: 231px;
    }
    .pricing-img {
        width: 197px;
        height: 197px;
        margin: 10px 0 22px 0;
        padding: 0;
    }
    .pricing__flex-item:nth-child(2) .pricing-img {
        width: 219px;
        height: 168px;
        margin: 11px 0 24px 0;
        padding: 0;
    }
    .pricing__flex-item:nth-child(3) .pricing-img {
        width: 210px;
        height: 210px;
        margin: 3px 0 18px 16px;
    }
    .pricing-h3 {
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 16px 11px;
    }
    .pricing__flex-item:nth-child(2) .pricing-h3 {
        width: 112px;
        margin: 0 0 14px 45px;
    }
    .pricing__flex-item:nth-child(3) .pricing-h3 {
        width: 94px;
        margin-bottom: 8px;
    }
    .pricing-p {
        width: 209px;
        font-size: 14px;
        margin: 0 0 23px 12px;
    }
    .pricing__flex-item:nth-child(2) .pricing-p {
        width: 209px;
        margin: 0 0 45px 44px;
    }
    .pricing__flex-item:nth-child(3) .pricing-p {
        width: 223px;
        margin-left: 15px;
        margin-bottom: 51px;
    }
    .pricing-btn {
        margin-left: 11px;
        padding: 5px 24px 0 20px;
    }
    .pricing__flex-item:nth-child(2) .pricing-btn {
        margin-left: 6px;
        padding: 4px 20px 0 20px;
    }
    .pricing__flex-item:nth-child(3) .pricing-btn {
        margin-left: 15px;
    }
    .btn-price {
        font-size: 22px;
    }
    .pricing__flex-item:nth-child(2) .btn-price {
        margin-right: 6px;
    }
    .pricing__flex-item:nth-child(3) .btn-price {
        letter-spacing: 1px;
        margin-right: 4px;
    }
    .btn-term {
        padding: 6px 0 12px 7px;
    }
    .contact_us {
        padding: 40px 0 100px 0;
    }
    .contact_us-img {
        width: 233px;
        height: 210px;
        margin: 24px 23px 0 13px;
    }
    .contact_us-h2 {
        font-size: 30px;
        line-height: 67px;
        margin: 0 0 0 13px;
    }
    .contact_us-p {
        font-size: 14px;
        margin: 0 0 24px 15px;
        width: 409px;
    }
    .contact_us_form {
        flex-wrap: nowrap;
    }
    .contact_us_form-mail {
        width: 283px;
        height: 50px;
        font-size: 12px;
        margin-right: 6px;
        padding: 5px 2px 1px 24px;
        margin-left: 13px;
    }
    .contact_us-btn {
        width: 145px;
        height: 50px;
        font-size: 13px;
        padding: 15px 38px;
    }
    .footer {
        padding: 6px 0 0 0;
    }
    .footer_line {
        width: calc(100% + 23px);
    }
    .footer_logo {
        margin: 23px 262px 0 25px;
    }
    .footer_menu-item {
        font-size: 13px;
    }
}
@media screen and (max-width: 841px) {
    .container {
        padding: 0 10px 0 20px;
    }
    .navbar__flex_menu {
        margin-right: 20px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        padding: 0 13px;
    }
    .navbar__flex {
        justify-content: space-between;
    }
    .sidenav {
        width: 429px;
    }
    .sidenav li a {
        padding-left: 39px;
        font-size: 22px;
        font-weight: 500;
        color: var(--accent-color);
    }
    .sidenav-close {
        margin: 22px 0 0 335px;
        max-height: 18px;
    }
    .background img {
        width: 89px;
        height: 45px;
        margin-right: 301px;
        margin-left: 39px;
    }
    .sidenav .divider {
        width: 364px;
        height: 1px;
        background-color: #C4C4C4;
        margin-top: 21px;
        margin-bottom: 35px;
        margin-left: 39px;
    }
    .sidenav li .waves-effect {
        line-height: 61px;
        margin-bottom: 13px;
    }
    .sidenav_btn {
        width: 210px;
        height: 60px;
        border-radius: 5px;
        border: 2px solid var(--accent-color);
        color: #000;
        background-color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin-left: 39px;
        margin-top: 56px;
    }
    .navbar {
        padding: 33px 0 21px 0;
    }
    .navbar__flex_menu {
        display: none;
    }
    .navbar-btn {
        display: none;
    }
    .sidenav-trigger {
        display: block;
        width: 30px;
        height: 17px;
        margin-top: 12px;
        margin-right: 25px;
    }
    .logo {
        margin-left: 26px;
        margin-right: 0;
    }
}
@media screen and (max-width: 766px) {
    .container {
        width: calc(100% - 20%);
    }
    .navbar {
        padding: 34px 0 11px 0;
    }
    .navbar__flex {
        justify-content: flex-start;
    }
    .navbar__flex_menu {
        display: none;
    }
    .navbar-btn {
        display: none;
    }
    .logo {
        width: 89px;
        height: 45px;
        margin: 5px 362px 0 2px;
    }
    .menu_icon {
        width: 42.353px;
        height: 24px;
    }
    .sidenav-trigger {
        display: block;
        width: 42.353px;
        height: 24px;
        margin: 17px 32px 0 0;
    }
    .sidenav {
        width: 575px;
    }
    .sidenav-close {
        margin: 53px 0 0 479px;
        max-height: 18px;
    }
    .sidenav li a {
        font-size: 24px;
        padding: 2px 32px 0 34px;
        height: 52px;
    }
    .background img {
        margin: 0;
        position: absolute;
        top: 48px;
        right: 454px;
    }
    .sidenav .divider {
        width: 510px;
        margin: 66px 0 35px 33px;
    }
    .sidenav_btn {
        width: 330px;
        height: 70px;
        font-size: 22px;
        margin-left: 33px;
        margin-top: 80px;
    } 
    .header {
        padding-bottom: 98px;
    }
    .header__flex {
        flex-direction: column-reverse;
    }
    .header-img {
        width: 424px;
        height: 424px;
        margin: 0 0 0 47px;
    }
    .header__flex_text {
        width: 500px;
        margin: 0 0 0 6px;
        padding-top: 15px;
    }
    .header-h1 {
        font-size: 34px;
        width: 500px;
        margin: 0 0 25px 6px;
    }
    .header-br-1 {
        display: none;
    }
    .header-br-2 {
        display: none;
    }
    .header-icon {
        display: none;
    }
    .header-p {
        width: 505px;
        margin: 0 0 36px 0;
        text-align: center;
    }
    .header-btn {
        width: 305px;
        height: 75px;
        margin-left: 98px;
        padding: 19px 67px 19px 71px;
    }
    .skills-h2 {
        margin: 0 0 35px 10px;
    }
    .skills__grid {
        grid-template-areas: 
        "speaking writing"
        "reading listening";
        margin: 0;
    }
    .speaking {
        width: 240px;
        height: 534px;
        margin: 0 30px 34px 3px;
        position: relative;
    }
    .speaking-img {
        width: 185px;
        height: 185px;
        margin-bottom: 5px;
        position: absolute;
        right: 57px;
        bottom: 353px;
    }
    .sp-img {
        width: 185px;
        height: 185px;
        margin: 0 0 0 12px;
    }
    .writing {
        width: 240px;
        height: 534px;
        margin: 0 0 34px 0;
    }
    .writing-img {
        width: 182px;
        height: 182px;
        right: 36px;
        bottom: 349px;
    }
    .wr-img {
        width: 182px;
        height: 182px;
    }
    .reading {
        width: 240px;
        height: 534px;
        margin: 0 32px 0 3px;
    }
    .reading-img {
        width: 198px;
        height: 132px;
        margin: 29px 14px 29px 0;
    }
    .re-img {
        width: 198px;
        height: 132px;
    }
    .listening {
        width: 240px;
        height: 534px;
        margin: 0;
        flex-direction: column-reverse;
        position: relative;
    }
    .listening-img {
        width: 206px;
        height: 137px;
        margin: 0;
        position: absolute;
        top: 37px;
        right: 22px;
    }
    .li-img {
        width: 206px;
        height: 137px;
    }
    .speaking .skills__grid_content {
        width: 188px;
        margin-left: 15px;
        margin-top: 190px;
    }
    .writing .skills__grid_content {
        margin-top: 196px;
        width: 170px;
        margin-left: 17px;
    }
    .reading .skills__grid_content {
        width: 202px;
        margin-left: 16px;
    }
    .listening .skills__grid_content {
        height: 338px;
        margin: 0 0 0 18px;
    }
    .skills-h3 {
        font-size: 18px;
        margin: 0 0 9px 0;
    }
    .speaking .skills-h3 {
        margin: 0 0 16px 0;
    }
    .reading .skills-h3 {
        margin: 0 0 17px 0;
    }
    .listening .skills-h3 {
        margin: 0 0 12px 2px;
    }
    .skills-p {
        font-size: 12px;
        margin: 0 0 131px 2px;
    }
    .speaking .skills-p {
        margin: 0 0 24px 0;
    }
    .reading .skills-p {
        font-size: 13px;
        margin: 0 0 123px 0;
    }
    .listening .skills-p {
        width: 204px;
        font-size: 13px;
        margin: 0 0 0 2px;
    }
    .skills-btn {
        width: 200px;
        height: 50px;
        font-size: 14px;
        padding: 14px 43px 16px 26px;
    }
    .speaking .skills-btn {
        width: 200px;
        height: 50px;
        font-size: 14px;
        padding: 5px 53px 10px 42px;
    }
    .reading .skills-btn {
        padding: 14px 43px 19px 31px;
    }
    .listening .skills-btn {
        width: 200px;
        height: 50px;
        padding: 12px 43px 15px 29px;
        margin-top: 219px;
    }
    .about_us {
        padding-top: 84px;
        padding-bottom: 94px;
    }
    .about_us__flex {
        flex-direction: column;
        padding: 0;
        position: relative;
    }
    .about_us__flex_content {
        padding: 0;
        margin: 0;
    }
    .about_us-h2 {
        margin-left: 189px;
        margin-bottom: 400px;
    }
    .about_us-p {
        margin: 0 0 15px 4px;
        max-width: 510px;
        text-align: center;
    }
    .about_us-h3 {
        font-size: 24px;
    }
    .about_us-item-p {
        font-size: 14px;
        margin-left: 9px;
    }
    .about_us__flex-items {
        margin-left: 48px;
     }
    .about_us__flex-item {
        margin: 15px 95px 0 0; 
    }
    .about_us__flex-item:nth-child(1) .about_us-h3 {
        line-height: 51px;
        margin-left: 7px; 
    }
    .about_us__flex-item:nth-child(2) .about_us-h3 {
        line-height: 57px;
        margin-top: 2px;
    }
    .about_us__flex-item:nth-child(2) {
        margin-right: 67px;
    }
    .about_us__flex-item:nth-child(3) .about_us-h3 {
        padding: 0 0 0 15px;
    }
    .about_us-img {
        width: 352px;
        height: 352px;
        margin: 0;
        position: absolute;
        right: 80px;
        bottom: 235px;
    }
    .pricing {
        padding: 35px 0 130px 0;
    }
    .pricing-h2 {
        margin: 0 0 52px 0;
    }
    .pricing__flex {
        flex-direction: column; 
    }
    .pricing__flex-item:nth-child(1) {
        width: 350px;
        margin-left: 61px;
    }
    .pricing__flex-item:nth-child(2) {
        margin-top: 70px;
        margin-left: 93px;
        width: 350px;
    }
    .pricing__flex-item:nth-child(3) {
        margin-top: 70px;
        margin-left: 70px;
        width: 350px;
    }
    .pricing-img {
        width: 291px;
        height: 291px;
        margin: 0 0 30px 52px;
        padding: 0;
    }
    .pricing__flex-item:nth-child(2) .pricing-img {
        width: 314px;
        height: 241px;
        margin: 0 0 22px 8px;
        padding: 0;
    }
    .pricing__flex-item:nth-child(3) .pricing-img {
        width: 253px;
        height: 253px;
        margin: 0 0 15px 53px;
    }
    .pricing-h3 {
        font-size: 24px;
        width: 300px;
        margin: 0 0 23px 48px;
    }
    .pricing__flex-item:nth-child(2) .pricing-h3 {
        width: 279px;
        margin: 0 0 19px 53px;
    }
    .pricing__flex-item:nth-child(3) .pricing-h3 {
        width: 200px;
        margin: 0 0 21px 80px;
    }
    .pricing-p {
        width: 390px;
        margin: 0 0 31px 0;
        text-align: center;
    }
    .pricing__flex-item:nth-child(2) .pricing-p {
        width: 325px;
        margin: 0 0 32px 0;
    }
    .pricing__flex-item:nth-child(3) .pricing-p {
        width: 355px;
        margin-left: 0;
        margin-bottom: 31px;
    }
    .pricing-btn {
        margin-left: 93px;
    }
    .pricing__flex-item:nth-child(2) .pricing-btn {
        margin-left: 72px;
        padding: 4px 20px 0 20px;
    }
    .pricing__flex-item:nth-child(3) .pricing-btn {
        margin-left: 78px;
        padding: 5px 19px 4px 19px;
    }
    .contact_us {
        padding: 40px 0 100px 0;
    }
    .contact_us__flex {
        flex-direction: column-reverse;
        position: relative;
    }
    .contact_us-img {
        width: 358px;
        height: 322px;
        margin: 0;
        position: absolute;
        top: 156px;
        right: 72px;  
    }
    .contact_us-h2 {
        width: 300px;
        margin: 0 0 446px 173px;
    }
    .contact_us-p {
        font-size: 16px;
        margin: 0 0 58px 13px;
        width: 490px;
        line-height: 1.5;
        text-align: center;
    }
    .contact_us_form {
        flex-wrap: nowrap;
        border-radius: 10px;
        border: 1px solid var(--text-color);
        border-right-color: transparent;
        width: 511px;
        margin-left: 4px;
    }
    .contact_us_form-mail {
        width: 318px;
        height: 60px;
        font-size: 13px;
        margin: 0;
        padding: 5px 2px 1px 24px;
        border: none;
    }
    .contact_us-btn {
        width: 193px;
        height: 60px;
        font-size: 16px;
        padding: 20px 38px 15px 38px;
    }
    .footer {
        padding-top: 43px;
    }
    .footer_line {
        width: calc(100% - 5px);
    }
    .footer_logo {
        margin: 23px 105px 0 2px;
    }
    .footer_menu {
        flex-wrap: nowrap;
    }
    .footer_menu-item {
        font-size: 12px;
        margin-right: 2px;
    }
    .footer_menu-item:last-child {
        margin-right: 0;
    }
}
@media screen and (max-width: 650px) {
    .container {
        width: calc(100% - 10%);
    }
}
@media screen and (max-width: 575px) {
    .container {
        padding: 0 30px;
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .container {
        padding: 0 10px;
    }
    .navbar {
        padding-top: 35px;
    }
    .navbar__flex {
        justify-content: space-between;
    }
    .navbar__flex_menu {
        display: none;
    }
    .navbar-btn {
        display: none;
    }
    .logo {
        width: 71px;
        height: 36px;
        margin: 0 0 3px 30px;
    }
    .menu_icon {
        width: 33.529px;
        height: 19px;
    }
    .sidenav-trigger {
        width: 33.529px;
        height: 19px;
        display: block;
        margin: 12px 30px 0 0;
    }
    .sidenav {
        width: 100%;
    }
    .sidenav-close {
        margin: 21px 0 0 calc(80%);
    }
    .sidenav li a {
        font-size: 22px;
        padding: 2px 32px 0 20px;
    }
    .background img {
        width: 71px;
        height: 36px;
        position: static;
        margin-left: 20px;
    }
    .sidenav .divider {
        width: calc(100% - 15%);
        margin: 30px 0 47px 15px;
    }
    .sidenav_btn {
        width: 291px;
        height: 65px;
        font-size: 20px;
        margin-left: 16px;
        margin-top: 71px;
    } 
    .header {
        padding-bottom: 51px;
    }
    .header-img {
        width: 299px;
        height: 299px;
        margin: 15px 0 0 0;
    }
    .header__flex {
        align-items: center;
    }
    .header__flex_text {
        width: 280px;
        margin: 0;
    }
    .header-h1 {
        font-size: 24px;
        line-height: 36px;
        width: 220px;
        text-align: center;
        margin: 0 0 22px 38px;
    }
    .header-br-2 {
        display: initial;
    }
    .header-p {
        font-size: 14px;
        width: 295px;
        margin: 0 0 34px 3px;
    }
    .header-btn {
        font-size: 16px;
        width: 289px;
        height: 60px;
        margin-left: 5px;
    }
    .skills-h2 {
        font-size: 24px;
        margin: 0 0 33px 10px;
    }
    .skills__grid {
        grid-template-areas: 
        "speaking"
        "writing"
        "reading"
        "listening";
        justify-content: center;
    }
    .speaking {
        width: 290px;
        height: 600px;
        margin: 0 0 21px 3px;
    }
    .speaking-img {
        width: 213px;
        height: 213px;
        margin-bottom: 0;
        top: 6px;
        right: 48px;
    }
    .sp-img {
        width: 213px;
        height: 213px;
    }
    .writing {
        width: 290px;
        height: 473px;
        margin: 0 0 21px 5px;
    }
    .writing-img {
        width: 204px;
        height: 204px;
        right: 41px;
        bottom: 254px;
    }
    .wr-img {
        width: 204px;
        height: 204px;
    }
    .reading {
        width: 290px;
        height: 473px;
        margin: 0 0 20px 5px;
    }
    .reading-img {
        width: 236px;
        height: 157px;
        margin: 29px 0 49px 31px;
    }
    .re-img {
        width: 236px;
        height: 157px;
    }
    .listening {
        width: 290px;
        height: 473px;
        margin-left: 8px;
    }
    .listening-img {
        width: 232px;
        height: 154px;
        top: 33px;
        right: 30px;
    }
    .li-img {
        width: 232px;
        height: 154px;
    }
    .speaking .skills__grid_content {
        width: 258px;
        margin-left: 15px;
        margin-top: 260px;
    }
    .writing .skills__grid_content {
        margin-top: 260px;
        width: 258px;
        margin-left: 14px;
    }
    .reading .skills__grid_content {
        width: 258px;
        margin-left: 14px;
    }
    .listening .skills__grid_content {
        width: 258px;
        height: 237px;
        margin: 0 0 0 12px;
    }
    .skills-h3 {
        margin: 0 0 14px 0;
    }
    .speaking .skills-h3 {
        margin: 0 0 13px 0;
    }
    .reading .skills-h3 {
        margin: 0 0 13px 1px;
    }
    .listening .skills-h3 {
        margin: 0 0 14px 2px;
    }
    .skills-p {
        font-size: 12px;
        margin: 0 0 30px 3px;
    }
    .speaking .skills-p {
        font-size: 13px;
        width: 258px;
        line-height: 1.55;
        margin: 0 0 30px 2px;
    }
    .reading .skills-p {
        font-size: 13px;
        margin: 0 0 32px 2px;
    }
    .listening .skills-p {
        width: 258px;
        font-size: 13px;
        margin: 0 0 0 2px;
    }
    .skills-btn {
        width: 178px;
        height: 50px;
        padding: 14px 43px 16px 30px;
    }
    .speaking .skills-btn {
        width: 178px;
        height: 50px;
        margin-left: 3px;
    }
    .reading .skills-btn {
        padding: 15px 43px 19px 31px;
    }
    .listening .skills-btn {
        width: 178px;
        height: 50px;
        padding: 13px 43px 15px 33px;
        margin-top: 96px;
    }
    .about_us {
        padding-top: 51px;
        padding-bottom: 45px;
    }
    .about_us__flex {
        align-items: center;
    }
    .about_us-h2 {
        font-size: 24px;
        margin-left: 95px;
        margin-bottom: 332px;
    }
    .about_us-p {
        margin: 0 0 20px 4px;
        font-size: 13px;
        width: 295px;
    }
    .about_us__flex-items {
        flex-direction: column;
    }
    .about_us-h3 {
        font-size: 24px;
        margin: 0;
    }
    .about_us-item-p {
        font-size: 15px;
        margin: 0;
    }
    .about_us__flex-items {
        margin: 0;
     }
    .about_us__flex-item {
        margin: 0 0 39px 0;
    }
    .about_us__flex-item:nth-child(1) .about_us-h3 {
        line-height: 51px;
        margin: 0;
    }
    .about_us__flex-item:nth-child(2) .about_us-h3 {
        line-height: 47px;
        margin: 3px 0 0 0;
    }
    .about_us__flex-item:nth-child(2) {
        margin: 0 0 32px 0;
    }
    .about_us__flex-item:nth-child(3) {
        margin: 0;
    }
    .about_us__flex-item:nth-child(3) .about_us-h3 {
        padding: 0;
        line-height: 46px;
        margin: 5px 0 0 0;
    }
    .about_us__flex-item:nth-child(2) .about_us-item-p {
        font-size: 13px;
    }
    .about_us__flex-item:nth-child(3) .about_us-item-p {
        font-size: 13px;
        margin: 0;
        letter-spacing: 0.005px;
    }
    .about_us-img {
        width: 283px;
        height: 283px;
        top: 10%;
        bottom: 10%;
        left: 25%;
        right: 25%;
    }
    .pricing {
        padding: 37px 0 37px 0;
    }
    .pricing-h2 {
        font-size: 24px;
        margin: 0 0 49px 0;
    }
    .pricing__flex {
        align-items: center;
    }
    .pricing__flex-item:nth-child(1) {
        width: 280px;
        margin: 0 0 65px 16px;
    }
    .pricing__flex-item:nth-child(2) {
        margin: 0 0 72px 9px;
        width: 280px;
    }
    .pricing__flex-item:nth-child(3) {
        margin: 0 0 0 8px;
        width: 300px;
    }
    .pricing-img {
        width: 248px;
        height: 248px;
        margin: 0 0 28px 19px;
        padding: 0;
    }
    .pricing__flex-item:nth-child(2) .pricing-img {
        width: 257px;
        height: 197px;
        margin: 0 0 11px 13px;
        padding: 0;
    }
    .pricing__flex-item:nth-child(3) .pricing-img {
        width: 241px;
        height: 241px;
        margin: 0 0 7px 21px;
    }
    .pricing-h3 {
        font-size: 18px;
        width: 250px;
        margin: 0 0 18px 18px;
    }
    .pricing__flex-item:nth-child(2) .pricing-h3 {
        width: 279px;
        margin: 0 0 27px 56px;
    }
    .pricing__flex-item:nth-child(3) .pricing-h3 {
        width: 200px;
        margin: 0 0 31px 68px;
    }
    .pricing-p {
        font-size: 13px;
        width: 280px;
        margin: 0 0 31px 0;
    }
    .pricing__flex-item:nth-child(2) .pricing-p {
        width: 280px;
        margin: 0 0 29px 0;
    }
    .pricing__flex-item:nth-child(3) .pricing-p {
        width: 280px;
        margin-bottom: 37px;
    }
    .pricing-btn {
        width: 170px;
        height: 37px;
        padding: 5px 24px 0 17px;
        margin-left: 56px;
    }
    .pricing__flex-item:nth-child(2) .pricing-btn {
        margin-left: 55px;
        padding: 4px 20px 0 18px;
    }
    .pricing__flex-item:nth-child(3) .pricing-btn {
        margin-left: 57px;
        padding: 5px 19px 4px 17px;
    }
    .btn-price {
        font-size: 18px;
        margin-right: 8px;
        padding-top: 2px;
    }
    .pricing__flex-item:nth-child(2) .pricing-btn .btn-price {
        margin-right: 3px;
    }
    .pricing__flex-item:nth-child(3) .pricing-btn .btn-price {
        letter-spacing: 0.1px;
        margin-right: 0;
    }
    .btn-term {
        font-size: 14px;
        padding: 4px 0 12px 7px;
    }
    .pricing__flex-item:nth-child(3) .pricing-btn .btn-term {
        padding: 2px 0 12px 4px;
    }
    .contact_us {
        padding: 41px 0 12px 0;
    }
    .contact_us__flex {
        align-items: center;
    }
    .contact_us-img {
        width: 253px;
        height: 228px;
        top: 15%;
        bottom: 15%;
        left: 25%;
        right: 25%;
    }
    .contact_us-h2 {
        font-size: 24px;
        width: 135px;
        margin: 0 0 311px 83px;
    }
    .contact_us-p {
        font-size: 14px;
        margin: 0 0 31px 8px;
        width: 280px;
    }
    .contact_us_form {
        flex-wrap: wrap;
        border: none;
        width: 291px;
        margin-left: 4px;
    }
    .contact_us_form-mail {
        width: 291px;
        height: 50px;
        font-size: 12px;
        padding: 3px 2px 1px 26px;
        border-radius: 5px;
        border: 1px solid var(--text-color);
        margin-bottom: 17px;
    }
    .contact_us-btn {
        width: 290px;
        height: 60px;
        font-size: 14px;
        padding: 18px 38px 15px 39px;
    }
    .footer {
        padding-top: 45px;
    }
    .footer_line {
        width: calc(100% - 10px);
        margin-bottom: 25px;
    }
    .footer_logo {
        width: 71px;
        height: 36px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .footer__flex {
        flex-direction: column;
        align-items: center;
    }
    .footer_menu {
        flex-wrap: nowrap;
        margin: 0 0 0 5px;
    }
    .footer_menu-item {
        font-size: 11px;
        margin-right: 2px;
    }
}
@media screen and (max-width: 430px) {
    .about_us-img {
        left: 15%;
    }
}
@media screen and (max-width: 320px) {
    .logo {
        margin-left: 4px;
     }
    .sidenav-trigger {
        margin-right: 5px;
     }
    .header__flex {
        align-items: flex-start;
    }
    .about_us-img {
        top: 102px;
        left: 9px;
    }
    .pricing__flex {
        align-items: flex-start;
    }
    .contact_us__flex {
        align-items: flex-start;
    }
    .contact_us-img {
        top: 112px;
        left: 33px;
    }
}